<header>
    <i class="fa fa-apple"></i>
    <ul>
        <li class="hider">Mac</li>
        <li class="hider">iPad</li>
        <li class="hider">iPhone</li>
        <li class="hider">Watch</li>
        <li class="hider">Tv</li>
        <li class="hider">Music</li>
        <li class="hider">Sport</li>
        <li><i class="fa fa-search"></i></li>
        <li><i class="fa fa-shopping-bag"></i></li>
    </ul>
</header>
<div class="header">
    <div class="header-heading">
        <h1>AirPods Max</h1>
    </div>
    <div class="header-content">
        <ul>
            <li class="hider">Overview</li>
            <li class="hider">Tech Specs</li>
            <li><button>Buy</button></li>
        </ul>
    </div>
</div>
<div class="content" id="content" (scroll)="scrollHandler($event)">
    <img class="content-img" src="assets/images/hero__gnfk5g59t0qe_large.png">
    <img class="content-image" src="assets/images/hero_logo__gl48ra12v32a_large.jpg">
</div>
<div class="content-content">
    <h1>Introducing AirPods Max — a perfect balance of exhilarating</h1>
    <h1>high-fidelity audio and the effortless magic of AirPods.</h1>
    <h1>The ultimate personal listening experience is here.</h1>
    <div>
        <p>Watch Journey into Sound</p>
        <i class="fa fa-play-circle"></i>
    </div>
</div>
<div class="video">
    <video src="assets/images/large.mp4" autoplay="" loop="" muted></video>
    <div class="video-content hider">
        <h1>high-fidelity audio</h1>
        <h1>Active Noise Cancellation With Transparancy Mode</h1>
        <h1>Stunning Design With an Exceptional Fit</h1>
    </div>


</div>
<div class="orientation">
    <h6>Design</h6>
    <h1>A radically</h1>
    <h1>original</h1>
    <h1>composition.</h1>
    <p>The over-ear headphone has been completely reimagined. From cushion to canopy, AirPods Max are designed for an
        uncompromising fit that creates the optimal acoustic seal for many different head shapes — fully immersing you
        in every sound.</p>
</div>
<div class="airpod">
    <img src="assets/images/81jqUPkIVRL._AC_SL1500_.jpg">
    <!-- <p>The beautifully anodized aluminum cups feature a revolutionary mechanism that allows each cup to rotate
        independently and balance pressure.</p> -->
</div>
<div class="alignment">
    <div class="alignment-big">
        <img src="assets/images/design_comfort__f5gwnm9e6ci2_large.jpg">
    </div>
    <div class="alignment-small">
        <img src="assets/images/design_mesh__cleb6oo85bo2_large.jpg">
        <p>A custom-designed mesh textile wraps the ear cushions to provide pillow-like softness while listening.</p>
        <img src="assets/images/design_foam__gndv3rgud4ya_large.jpg">
        <p>Crafted with acoustically engineered memory foam, the ear cushions gently create an immersive seal that is
            the foundation of incredible sound.</p>
    </div>
</div>
<div class="wdt">
    <div class="wdt-video">
        <video src="assets/images/rotate.mp4" autoplay="" loop="" muted></video>
    </div>
    <img src="assets/images/design_crown_body__dnzmz5cex9ua_large.png">
    <div class="wdt-content">
        <p>The Digital Crown lets you precisely control volume, skip between tracks, answer phone calls, and activate
            Siri.</p>
    </div>
</div>
<div class="colors">
    <div class="colors-content">
        <p>Five colors.</p>
        <p>Anything but</p>
        <p>monotone.</p>
    </div>
    <div class="colors-div">
        <div class="colors-div-content">

        </div>
        <div class="colors-div-con">

        </div>
        <div class="colors-div-cont">

        </div>
        <div class="colors-div-conte">

        </div>
        <div class="colors-div-conten">

        </div>
    </div>
</div>
<div class="headphn">
    <div class="headphn-img" id="headphn-img">
        <img src="assets/images/design_colors_pink_front__dbqafvrvcy6a_large.jpg">
        <img src="assets/images/design_colors_blue_front__ddfias5frxqq_xlarge.jpg">
        <img src="assets/images/design_colors_gray_front__bgkzj4cnbafm_xlarge.jpg">
        <img src="assets/images/design_colors_green_front__cqpeugza9as2_xlarge.jpg">
    </div>
    <div class="headphn-content"  id="headphn-content">
        <img src="assets/images/design_colors_pink_side__gd261969pcmu_large.jpg">
        <img src="assets/images/design_colors_blue_side__e166rgbg1s02_xlarge.jpg">
        <img src="assets/images/design_colors_gray_side__gbjen9i2hram_xlarge.jpg">
        <img src="assets/images/design_colors_green_side__dpusuw9jg30i_xlarge.jpg">
    </div>
</div>
<div class="headphn-align">
    <h6>Audio quality</h6>
    <h1>Sounds like an epiphany.</h1>
    <p>AirPods Max combine high-fidelity audio with industry-leading Active Noise Cancellation to deliver an
        unparalleled listening experience. Each part of their custom-built driver works to produce sound with ultra-low
        distortion across the audible range. From deep, rich bass to accurate mids and crisp, clean highs, you’ll hear
        every note with a new sense of clarity.</p>
</div>
<div class="align">
    <div class="align-img">
        <img src="assets/images/audio_quality_eq__bw20hke6z1ea_large.jpg">
        <p class="ml"><span>Adaptive EQ</span> tailors sound to the bespoke fit and seal created by the ear cushions.
            Inward-facing microphones
            measure what you’re hearing, then adjust the frequencies of your music to deliver a rich, consistent
            experience that faithfully reproduces every note.</p>
    </div>
    <div class="align-content">
        <img src="assets/images/audio_quality_noise_cancellation__bly3c9di4wwi_large.jpg">
        <p>Industry‑leading <span>Active Noise Cancellation</span> counters external sound with equal anti‑noise,
            allowing you to
            immerse yourself in what you’re listening to.</p>
        <p>Press the noise control button to switch to <span>Transparency mode</span>, which lets outside sound in so
            you can
            interact naturally with your surroundings.</p>
    </div>
</div>
<div class="intro">
    <img src="assets/images/audio_quality_spatial_figure__clxltt2m0z2a_large.jpg">
    <div class="intro-img">
        <img class="intro-content" src="assets/images/audio_quality_spatial_rings_back__dit9t4h8r2c2_large.png">
        <img src="assets/images/audio_quality_spatial_rings_front__gfrdafohuzyq_large.png">
    </div>
    <div class="intro-paragraph">
        <p><span>Spatial audio with dynamic head tracking</span> gives you a theater‑like experience for movies and
            shows, with sound that surrounds you.1 Using built-in gyroscopes and accelerometers, AirPods Max and your
            iPhone or iPad track the subtle motion of your head, anchoring sounds to your device.</p>
    </div>
</div>
<div class="head-align">
    <h6>Magical experience</h6>
    <h1>Elaborately simple.</h1>
    <p>AirPods Max inherit all of the wireless, effortless magic of the AirPods family. From setup to Siri commands,
        they make the listening experience completely fluid — day to day, device to device.</p>
</div>
<div class="setup">
    <div class="setup-img">
        <img src="assets/images/magic_features_hardware__doa7mm6stg6e_large.jpg">
        <div class="setup-absolute">
            <img src="assets/images/magic_features_switching__6borvcl4m3mu_large.jpg">
        </div>
    </div>
    <div class="setup-content">
        <h2>One-tap setup</h2>
        <p>AirPods Max connect immediately to your iPhone or iPad. To pair, simply place AirPods Max near your device
            and tap Connect on your screen.2</p>
    </div>
</div>
<div class="magic">
    <h1>More magic to play with.</h1>
</div>
<div class="directions">
    <div class="directions-content">
        <h3>On-head detection</h3>
        <p>AirPods Max pause audio when you take them off, and resume playback when you put them back on. So you never
            miss a beat.</p>
    </div>
    <div class="directions-content">
        <h3>Announce Messages</h3>
        <p>Let Siri speak incoming messages as they arrive with Announce Messages.4 You can even tell Siri to respond —
            no hands required.</p>
    </div>
    <div class="directions-content">
        <h3>Always-on Siri</h3>
        <p>Get directions, check the weather, schedule a meeting, and more with a simple “Hey Siri.” With an expansive
            set of commands, your favorite personal assistant is more helpful than ever.</p>
    </div>
</div>
<div class="power">
    <h1>A case with staying power.</h1>
    <p>When stored in their soft, slim Smart Case, AirPods Max enter an ultra‑low‑power state that preserves charge.</p>
    <img src="assets/images/magic_smart_case__e1xikczc5eoi_large.jpg">
</div>
<div class="battery">
    <h1>A battery that keeps stayin’ alive.</h1>
    <span>20</span>
    <p>hours of listening, movie watching, or talk time — with Active Noise Cancellation and spatial audio enabled.5
        Simply charge via Lightning connector. A quick 5‑minute charge delivers 1.5 hours of listening.6</p>
</div>
<div class="apple">
    <div class="apple-img">
        <img src="assets/images/router_ar_silver__ewtogmck6iaa_large.jpg">
    </div>
    <div class="apple-content">
        <img src="assets/images/router_ar_logo__ced3klchhmaa_large.png">
        <h1>Use AR to see the new AirPods Max.</h1>
        <p>Open this page using Safari on your iPhone or iPad.</p>
        <div class="setup-div">
            <div class="colors-div-content">

            </div>
            <div class="colors-div-con">
    
            </div>
            <div class="colors-div-cont">
    
            </div>
            <div class="colors-div-conte">
    
            </div>
            <div class="colors-div-conten">
    
            </div>
        </div>
    </div>
</div>
<div class="max">
    <div class="max-content">
        <h1>Say it in a way only you can.</h1>
        <p>Discover new engraving options for AirPods. Mix emoji, text, and numbers.</p>
        <h3>Buy AirPods Max</h3>
    </div>
    <div class="max-img">
        <img src="assets/images/router_engraving__e8k6lcdki8q6_large.jpg">
    </div>
</div>
<div class="card-align">
    <div class="card-aligner">
        <div class="card">
            <img src="assets/images/icon_large.svg">
            <h2>Fast, no‑contact delivery</h2>
            <p>Choose two hour courier or free delivery</p>
            <span>Learn more</span>
        </div>
        <div class="card">
            <img src="assets/images/icon_large.svg">
            <h2>Fast, no‑contact delivery</h2>
            <p>Choose two hour courier or free delivery</p>
            <span>Learn more</span>
        </div>
        <div class="card">
            <img src="assets/images/icon_large.svg">
            <h2>Fast, no‑contact delivery</h2>
            <p>Choose two hour courier or free delivery</p>
            <span>Learn more</span>
        </div>
        <div class="card">
            <img src="assets/images/icon_large.svg">
            <h2>Fast, no‑contact delivery</h2>
            <p>Choose two hour courier or free delivery</p>
            <span>Learn more</span>
        </div>
    </div>
</div>
<div class="hr">
    <hr>
</div>
<div class="list">
    <div class="list-content">
        <p>1. Spatial audio works with movies, TV, and video in supported apps. Requires iPhone or iPad.</p>
        <p>2. Requires an iCloud account and macOS 11.1, iOS 14.3, iPadOS 14.3, watchOS 7.2, or tvOS 14.3 or later.</p>
        <p>3. Works with iPhone 8 or later and iPod touch (7th generation) with the latest version of iOS; iPad Pro
            12.9-inch (2nd generation or later), iPad Pro 11-inch, iPad Pro 10.5-inch, iPad (5th generation or later), iPad
            Air (3rd and 4th generation), and iPad mini (5th generation) with the latest version of iPadOS; and Apple TV
            with the latest version of tvOS.</p>
        <p>4. Siri may not be available in all languages or in all areas, and features may vary by area. Internet access
            required. Cellular data charges may apply.</p>
        <p>5. Testing conducted by Apple in November 2020 using preproduction AirPods Max and software paired with iPhone 12
            Pro Max units and prerelease software. Testing consisted of full AirPods Max battery discharge while playing one
            of the following: a music playlist consisting of 358 unique audio tracks purchased from the iTunes Store
            (256-Kbps AAC encoding), a cellular phone call, or a 2-hour 23-minute movie purchased from the iTunes Store
            until the AirPods Max stopped playback. Volume was set to 50%, Active Noise Cancellation on, and Spatial Audio
            on and active only during movie playback. Battery life depends on device settings, environment, usage, and many
            other factors.</p>
        <p>6. Testing conducted by Apple in November 2020 using preproduction AirPods Max and software paired with iPhone 12
            Pro Max units and prerelease software. The playlist consisted of 358 unique audio tracks purchased from the
            iTunes Store (256-Kbps AAC encoding). Volume was set to 50%, Active Noise Cancellation on, and Spatial Audio on
            but not active. 5-Minute charge testing conducted with drained AirPods Max that were charged for 5 minutes, then
            audio playback was started until the AirPods Max stopped playback. Battery life depends on device settings,
            environment, usage, and many other factors.</p>
    </div>
</div>
<div class="hr">
    <hr>
</div>
<div class="finale">
    <div class="hider">
        <ul class="ul-aligner">
            <li><i class="fa fa-apple"></i></li>
            <li>Music</li>
            <li>AirPods</li>
            <li>AirPods Max</li>
        </ul>
    </div>
    <div class="footer hider">
        <div class="footer-ul">
            <ul>
                <li>
                    <h2>Shop and Learn</h2>
                </li>
                <li>Mac</li>
                <li>iPad</li>
                <li>iPhone</li>
                <li>Watch</li>
                <li>Tv</li>
                <li>Music</li>
                <li>Airpods</li>
                <li>HomePod</li>
                <li>iPod touch</li>
                <li>AirTag</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
            </ul>
        </div>
        <div class="footer-ul">
            <ul>
                <li>
                    <h2>Services</h2>
                </li>
                <li>Apple Music</li>
                <li>Apple TV+</li>
                <li>Apple Fitness+</li>
                <li>Apple News+</li>
                <li>Apple Arcade</li>
                <li>iCloud</li>
                <li>Apple One</li>
                <li>Apple Card</li>
                <li>Apple Books</li>
                <li>Apple Podcasts</li>
                <li>Apple Podcasts</li>
                <li>Gift Cards</li>
                <li>
                    <h2>Account</h2>
                </li>
                <li>Manage Your Apple ID</li>
                <li>Apple Store Account</li>
                <li>iCloud.com</li>
            </ul>
        </div>
        <div class="footer-ul">
            <ul>
                <li>
                    <h2>Apple Store</h2>
                </li>
                <li>Find a Store</li>
                <li>Shop Online</li>
                <li>Genius Bar</li>
                <li>Today at Apple</li>
                <li>Apple Camp</li>
                <li>Apple Store App</li>
                <li>Refurbished and Clearance</li>
                <li>Financing</li>
                <li>Apple Trade In</li>
                <li>Order Status</li>
                <li>Shopping Help</li>
            </ul>
        </div>
        <div class="footer-ul">
            <ul>
                <li>
                    <h2>For Business</h2>
                </li>
                <li>Apple and Business</li>
                <li>Shop for Business</li>
                <li>
                    <h2>For Education</h2>
                </li>
                <li>Apple and Education</li>
                <li>Shop for K-12</li>
                <li>Shop for College</li>
                <li>
                    <h2>For HealthCare</h2>
                </li>
                <li>Apple in Healthcare</li>
                <li>Health on Apple Watch</li>
                <li>Health Records on iPhone</li>
                <li>
                    <h2>For Government</h2>
                </li>
                <li>Shop for Government</li>
                <li>Shop for Veterans and Military</li>
            </ul>
        </div>
        <div class="footer-ul">
            <ul>
                <li>
                    <h2>Shop and Learn</h2>
                </li>
                <li>Mac</li>
                <li>iPad</li>
                <li>iPhone</li>
                <li>Watch</li>
                <li>Tv</li>
                <li>Music</li>
                <li>Airpods</li>
                <li>HomePod</li>
                <li>iPod touch</li>
                <li>AirTag</li>
                <li>Accessories</li>
                <li>Gift Cards</li>
            </ul>
        </div>
    </div>
    <div class="res">
        <p class="padding">More ways to shop: Find an Apple Store or other retailer near you. Or call 1-800-MY-APPLE.</p>
        <hr>
        <p class="padding">Copyright © 2021 Apple Inc. All rights reserved.</p>
    </div>
</div>